@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.wrapper {
  background-color: #434f50;

  @include tablet-p {
    padding-top: 0;
  }
  @include mobile {
    padding-top: 0;
  }

  .flexSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 120px;

    @include mobile {
      margin-bottom: 100px;
    }

    @include tablet-p {
      margin-bottom: 100px;
    }

    .third {
      font-family: "Editorial New";
      font-weight: 200;
      font-size: 70px;
      line-height: 110%;
      color: $cream-40;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      margin: 0;
    }

    .description {
      max-width: 539px;
      margin: 0;
      font-size: 17px;

      @include desktop-lg {
        font-size: 18px;
      }

      @include tablet-p {
        max-width: 98%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        line-height: 170%;
        color: $cream-40;
      }

      @include mobile {
        max-width: 98%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        line-height: 170%;
        color: $cream-40;
      }

      @include iphone5 {
        max-width: 100%;
      }
    }
  }
}

.textWrapperDesktop {
  margin: auto;
  width: 85%;

  @include desktop-lg {
    max-width: 1440px;
  }

  @include tablet-p {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.textWrapperMobile {
  margin: auto;
  width: 85%;
  display: none;

  @include tablet-p {
    display: flex;
    flex-direction: column;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop-lg {
    margin-top: 80px;
  }
}
.description {
  position: relative;
  color: $grey-60;
  font-size: 1rem;
  > p {
    width: 49ch;
  }
  text-align: left;
}
.first {
  font-family: "Editorial New";
  align-self: center;
  text-transform: uppercase;
  display: flex;
  font-weight: 200;
  font-size: 75px;
  line-height: 1.3em;
  color: $cream-40;
  margin: 0;

  @include tablet-p {
    font-size: 50px;
    flex-direction: column;
  }

  @include mobile {
    font-size: 40px;
    flex-direction: column;
  }

  @include iphone5 {
    font-size: 35px;
    flex-direction: column;
    text-align: center;
  }

  .second {
    align-self: center;
    @include fontStyles($brown-50, "Notera", 400, 2.5rem);
    margin: 0 0 0 20px;

    @include tablet-p {
      font-size: 35px;
      margin: 10px 0;
    }

    @include mobile {
      font-size: 25px;
      margin: 10px 0;
    }
  }
}

.threeDView {
  position: relative;
  height: 400px;

  @include mobile {
    height: 150px;
  }

  .imgStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    @include mobile {
      object-fit: contain;
      object-position: bottom;
    }
  }
}
.interactBtn {
  display: none;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);

  @include tablet-p {
    display: none;
  }

  @include mobile {
    display: none;
  }
}
