@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.hero-section-fold {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .mg-first-fold {
    height: 100vh;
    position: relative;
    z-index: 1;

    @include mobile {
      overflow: hidden;
    }
    .mg-first-fold-text {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 13vh;

      @include iphone5 {
        padding-top: 20px;
      }

      .mg-first-fold-heading {
        font-family: "Editorial New";
        font-weight: 200;
        font-size: 75px;
        line-height: 1.3em;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #f9f6ed;

        .animation-text {
          font-family: "Editorial New";
        }

        @include mobile {
          font-size: 50px;
          line-height: 1.6em;
        }

        @include iphone5 {
          font-size: 40px;
        }
      }

      .mg-first-fold-subheading {
        margin: 19px auto 74px;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        color: #f9f6ed;
        max-width: 560px;
        position: relative;

        @include mobile {
          font-size: 14px;
          width: 311px;
          margin: 19px auto 34px;
        }

        .mg-play-reel-btn {
          position: absolute;
          right: -300px;
          top: 0;
          cursor: pointer;
        }
      }
    }
    .mg-discover-more {
      width: 600px;
      height: 260px;
      // background: #404040;
      z-index: 1;
      margin: 0 auto;
      position: absolute;
      bottom: -120px;
      left: 0;
      right: 0;
      border-radius: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      text-align: center;
      // text-transform: uppercase;
      color: #f1efe5;
      > svg {
        margin-bottom: 20px;
      }
    }
  }

  .mg-first-fold-auth-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    z-index: 99;
    cursor: pointer;

    @include mobile {
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
    }

    .btn-hero-sec {
      height: 50px;
      min-width: 240px;
      font-weight: 400;
      font-size: 18px;
      line-height: 110%;

      @include mobile {
        width: 100%;
      }

      @include iphone5 {
        height: 50px;
      }

      &:hover {
        background: rgba(#dacfba, 0.3);
      }
    }
  }

  .footer-mobile {
    display: none;
    align-items: center;
    flex-grow: 2;
    justify-content: center;
    padding: 0 20px;
    color: #f7f0ec;

    .content {
      width: 100%;
    }

    .space-links {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 0 10px;
      margin-top: 20px;

      a {
        color: #f7f0ec;
        font-weight: 400;
        font-size: 12px;
      }
    }

    @include mobile {
      display: flex;
    }
  }

  .more-button {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: column;
    color: rgba(#f9f6ed, 0.7);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    bottom: 33px;

    @include mobile {
      font-size: 18px;
    }

    img {
      width: 50px;
      margin-top: 10px;

      @include mobile {
        width: 40px;
      }
    }
  }

  .scroll-down {
    width: 22px;
    height: 22px;
    position: relative;
  }

  .mg-bg-video {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    @include mobile {
      top: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: linear-gradient(0deg, rgba(#434f50, 0.5), rgba(#434f50, 0.5));
      backdrop-filter: blur(15px);
      content: "";

      @include mobile {
        background: rgba(black, 0.6);
        backdrop-filter: blur(0);
      }
    }

    video {
      object-fit: cover;
      overflow: hidden;
      min-height: 100%;
      width: 100%;
      margin: 0 auto;

      @include mobile {
        height: calc(100vh - 135px);
      }
    }
  }
}
