@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.loginMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 66.5px);

  .headSection {
    @include mobile {
      margin-bottom: 40px;
    }
  }

  .mainWrapper {
    padding: calc(10px + 0.5625vw);
    background-color: $cream-40;
    position: relative;
    width: 460px;
    max-width: 460px;
    margin-top: 55px;

    @include mobile {
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 16px 16px 0 0;
    }
  }

  .bgTree {
    position: absolute;
    top: 50px;
    left: 10%;
    right: 0;
    height: 129px;
    width: 171px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      top: 50px;
    }
  }

  .otpMainWrapper {
    @extend .mainWrapper;
    width: 460px;
    max-width: 460px;

    .bgTree {
      top: 40px;
      left: 0;
    }
  }
  .formWrapper {
    border-bottom: 1px solid $brown-80-30;
    padding: 50px 20px;
    text-align: center;

    @include mobile {
      padding: 60px 20px 100px;
    }

    form {
      width: 95%;
      margin: 0 auto;
    }
  }
  .otpFormWrapper {
    @extend .formWrapper;
    .headingWrapper {
      width: 100%;
      margin: 20px auto 50px;

      .heading {
        font-weight: 200;
        font-size: 30px;
        line-height: 140.8%;
        letter-spacing: 0.01em;
        @include mobile {
          font-size: 34px;
        }
      }
    }

    .otpBtnStyle {
      min-width: 160px;
    }
  }

  .headingWrapper {
    margin: 30px auto 0;
  }

  .heading {
    text-transform: uppercase;
    max-width: 80%;
    margin: 0 auto 14px;

    @include fontStyles(
      $black-100,
      "Editorial New",
      200,
      calc(30px + 0.390625vw)
    );
  }

  .notRegisteredText {
    font-weight: 400;
    font-size: 12px;
    color: $black-100-70;
    margin-bottom: calc(8px + 1.5625vw);
    margin-top: 0;
    position: relative;
    z-index: 1;

    a {
      color: $brown-70;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .otpWrapper {
    margin-bottom: calc(15px + 0.390625vw);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $black-90-20;

    .otpInput {
      color: $black-90;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      border: none;
      margin-right: 0;
      background-color: transparent;
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        outline: 1px solid transparent;
      }
    }
  }
  .phoneNosWrapper {
    gap: 1rem;
    width: 100%;
    margin: 0 auto 0.5rem;
    position: relative;
    border-bottom: 1px solid $black-90-20;
    padding-bottom: 10px;
    display: flex;
    .phoneNumberInput {
      //   // width: 100% !important;
      border: none;
      font-size: 20px;
      font-weight: 200;
      color: $black-90-70;
      background-color: transparent;
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        outline: 1px solid transparent;
      }
    }
  }

  .errorText {
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    position: absolute;
    bottom: 0px;
    color: $red-100;

    span {
      color: $black-90;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .warningIconWrapper {
    position: absolute;
    right: 0;
    top: 6px;
  }

  .countryCodeWrapper {
    @include flex(center, center);
    gap: 2px;
    .countryCode {
      @include fontStyles($black-100-70, "Manrope", 300, calc(26px + 0.5625vw));
      @include flex(flex-start, center);
    }
    .downArrowWrapper {
      @include flex(flex-start, center);
      width: calc(12px + 0.5625vw);
    }
  }

  .resendMsg {
    color: $black-90;
    font-size: 12px;
    line-height: 130%;

    .resend {
      @include fontStyles($black-90, "Manrope", 400, 0.875rem);
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .timerCount {
    color: $brown-70;
    font-size: 12px;
  }

  .submitBtnWrapper {
    @include flex(center, center);
    margin-top: 80px;

    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    button {
      background-color: $green-100;
      color: $cream-50;

      @include mobile {
        border: none;
        border-radius: 0;
        width: 100%;
      }
    }
  }

  select {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;

    &:focus {
      border: none;
      outline: 1px solid transparent;
    }

    option {
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
    }
  }
}

//country select styles

.countrySelectWrapper {
  position: relative;
  width: max-content;
  height: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 200;
  color: rgba(67, 79, 80, 0.6980392157);
  text-align: left;
}
.listWrapper {
  position: absolute;
  width: 200px;
  background-color: white;
  top: 110%;
  list-style: none;
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 0.5rem;
  padding-inline-start: 0;
  z-index: 9;
  text-align: left;
}

.listChild {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  &:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
  }
}

.hiddenInput {
  position: absolute;
  padding-bottom: 8px;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.selectedCountryFlag {
  margin-right: 0.35rem;
  position: relative;
  bottom: 3px;
  border-radius: 20px;
}
.flagImg {
  border-radius: 50% !important;
}
.dialCode {
  margin-right: 0.5rem;
}
