@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.mg-second-fold {
  min-height: 100vh;
  background-color: #f9f6ed;
  padding: 150px 50px 400px;
  position: relative;
  z-index: 2;

  @include mobile {
    height: fit-content;
    padding: 88px 0px 50px;
  }
  .mg-second-fold-text {
    width: 100%;
    margin: 0 auto;

    .mg-second-fold-heading {
      font-family: "Editorial New";
      font-weight: 200;
      font-size: 90px;
      line-height: 110%;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #262e2f;

      @include mobile {
        font-size: 40px;
      }
      > span {
        font-family: "Notera";
        font-weight: 400;
        font-size: 63px;
        line-height: 110%;
        text-transform: lowercase;
        color: #a65a42;

        @include mobile {
          font-size: 23px;
        }
      }
    }
    .mg-second-fold-subheading {
      font-size: 20px;
      line-height: 170%;
      text-align: center;
      color: #9c9c9c;
      margin: 40px auto 0;
      max-width: 678px;

      @include mobile {
        max-width: 293px;
      }
    }
    .mg-second-fold-footer {
      font-family: "Notera";
      font-weight: 400;
      font-size: 63px;
      letter-spacing: -0.01em;
      color: #a65a42;
      margin-top: 80px;
      text-align: center;

      @include mobile {
        margin-top: 50px;
        font-size: 33px;
      }
    }
  }

  .mg-welcome-to {
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome-to-plant {
      z-index: 1;
      position: absolute;
      top: -100px;
    }
    .mg-welcome-to-heading {
      position: relative;
      z-index: 2;
      font-family: "Notera";
      font-style: normal;
      font-weight: 400;
      font-size: 63.1px;
      letter-spacing: -0.01em;
      color: #f1efe5;
    }
    .mg-welcome-to-logo {
      width: 909px !important;
      height: 121px !important;
      margin-top: 23px;
      margin-bottom: 74px;
      position: relative;
      z-index: 2;
    }
    .mg-welcome-to-subheading {
      font-size: 16px;
      text-align: center;
      color: #9c9c9c;
      width: 56ch;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
  }
}
